.treeDragDiv { padding:2px;font-family:Verdana, Arial, Sans-Serif;font-size: 12px;border: 1px dotted black; background-color: #FFCCCC;}
.treeImage{ width:18px; height:18px; border:0; padding:0; margin:0;}
.treeItem{padding: 1px;border:1px solid #EFE5D0;font-family : Verdana, Arial, Sans-Serif;font-size:12px;cursor:hand;cursor:pointer;-moz-user-select: none;}
.treeDragSelected{ padding: 1px; border: 1px dotted red; font-family: Verdana, Arial, Sans-Serif;font-size: 12px;}
.treeSelected{ padding: 1px; border:1px solid #EFE5D0;background-color:#bcb694;color:white;font-family: Verdana, Arial, Sans-Serif;font-size: 12px;cursor:hand;cursor:pointer;-moz-user-select: none;}
.treeMenuSelected{ padding: 1px; border: 1px dotted red;background-color:#bcb694;color:white;font-family: Verdana, Arial, Sans-Serif;font-size: 12px;cursor:hand;cursor:pointer;-moz-user-select: none;}
.treeSelectionBar{font-size: 10px; width:150px;}
.treeHiddenItem { width:1px;overflow:hidden;}
.treeContainer { padding-top: 5px; padding-bottom: 5px;overflow:auto; }
#categs_list
{
    width: 100%;
    height: 100%;
    background-color: #EFE5D0;
    overflow:hidden;
    border-top: 1px solid #b67d56;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#categs_list_td
{
    vertical-align: top;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
td.categs_drag_border
{
    width: 1px;
    border: 1px solid #b67d56;
    border-bottom: 0;
    background: url(/cms/images/arrow_drag.gif) no-repeat center center #fff5e0;
    cursor: e-resize;
}
#categs_drag_div
{
    position:absolute;
    left:0px;
    width:5px;
    display:none;
    z-index:1000;
    background-image: url(/cms/images/dragbg.gif);
}